*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

:root{
    --dark: #121212;
    --dark-gray: #222222;
    --green: rgb(1 219 196);
    --gold: #b57e34;
}

li{list-style-type: none;}
a{text-decoration: none; color: white;}
body{background-color: var(--dark);}

/*-----------------------------HEADER-------------------------------*/

.header{
    height: 100vh;
}
.header .top{
    height: 20vh;
    padding: 0px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .logo img{
    height: 280px;
}
.social-links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 150px;
}

.social-links i{
    color: var(--gold);
    font-size: 1.2em;
}

.social-links i:hover{
    color: white;
    transition: 0.3s ease;
}
.title{
    font-family: 'Teko', sans-serif;
    font-size: 5em;
    text-align: center;
    padding: 0 20px;
    padding-top: 2em;
}

/*--------------------BLOG------------------------------*/
.content-area{
    display: flex;
    padding: 3em;
    justify-content: center;
}
.content-area img{
    height: 600px;
    padding: 2em;
    /* border: 1px var(--gold) solid; */
}

.content-area .right-text{
    font-family: 'Poppins';
    padding: 2em;
    /* border: 1px var(--gold) solid; */
    
}

.content-area .right-text div{
    margin: 1em 0;
}

/*------------------------------FOOTER-------------------------------*/
.footer{
    font-family: 'Source Sans Pro', monospace;
}
.inner-footer{
    margin: 0px;
    padding: 20px;
    background-color: var(--dark-gray);
}
.socials {
    display: flex;   
}
.socials ul{
    padding: 10px 10px;
    display: flex;
    margin: auto;
}

.socials ul li{
    margin: 10px;
}
.socials a{
    padding: 0 5px;
    font-size: 2em;
    width: 60px;
    height: 60px;
}
.socials i:hover{
    color: var(--gold);
    transition: 300ms ease;
}

.home-links{
    padding: 5px 0;
    display: flex;
    align-items: center;
    margin: auto;
    justify-content: center;
}
.home-links ul{
    display: flex;
}
.home-items{
    list-style-type: none;
}
.home-items a{
    text-decoration: none;
    padding: 20px;
    font-size: 20px;
    transition: all .25s; 
}
.home-items a:hover{
    color: var(--gold);
}
.newsletter{
    text-decoration: none;
    padding: 0px;
    font-size: 30px;
    text-align: center;
    margin: 1.5em 0;
}
.email-input{
    width: 450px;
    max-width: 100%;
    color: black;
    text-align: left;
    font-weight: 500;
    border-radius: 5px;
    border: 0px;
    padding: 10px 0px 10px 20px;
    font-size: 15px;
}
.email-input:focus, .email-input:hover{
    outline: 0px;
}
.subscribe-btn{
    border: 0px;
    width: 150px;
    max-width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: rgb(29, 29, 29);
    cursor: pointer;
    border-radius: 5px;
    outline: 0;
    transition: all .3s;
}
.subscribe-btn:hover{
    background: rgb(75, 74, 74);
}
.copyrights{
    padding: 10px;
    text-align: center;
    font-size: 16px;
    background-color: var(--dark);
}

/*------------------------------MEDIA QUERIES----------------------------*/
@media all and (max-width: 1000px) {
    .title {
        font-size: 4em;
        padding-top: 3em;
    }
}

@media all and (max-width: 700px) {
    .home-links ul{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
}

@media all and (max-width: 575px) {
    .header .social-links i{
        font-size: 1em;
    }
    .header .social-links{
        width: 100px;
    }
    .header .logo{
        font-size: 1.2em;
    }
    .header .top { padding: 0 20px;}
    .home-links ul{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    .socials ul{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    }
}