/* font-family: 'Bebas Neue', cursive;
font-family: 'Open Sans Condensed', sans-serif;
font-family: 'Poppins', sans-serif; 
font-family: 'Source Sans Pro', monospace;
font-family: 'Teko', sans-serif;*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

:root{
    --dark: #121212;
    --dark-gray: #222222;
    --green: rgb(1 219 196);
    --gold: #b57e34;
}

li{list-style-type: none;}
a{text-decoration: none; color: white;}
body{
    background-color: var(--dark);
    overflow-x: hidden;
}

html{
    scroll-behavior: smooth;
}

.btn{
    border: 2px solid white;
    padding: 10px 30px;
    border-radius: 25px;
    font-size: 1em;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    margin-top: 2em;
}
.social-links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 150px;
}

.social-links i{
    color: var(--gold);
    font-size: 1.2em;
}

.social-links i:hover{
    color: white;
    transition: 0.3s ease;
}

.read-more{
    font-family: 'Poppins';
    font-weight: bold;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 25px;
    padding: 5px 20px;
    width: 150px;
}
.btn:hover, .read-more:hover{
    background-color: white;
    color: black;
    transition: 500ms ease;
}
.btn:hover a{
    color: black;
    transition: 500ms ease;
}
/* -------------- HEADER SECTION ---------------- */
.header{
    height: 100vh;
}

.header .top{
    height: 20vh;
    padding: 0px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .logo img{
    height: 300px;
}

.header .mid{
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header .mid .content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header .mid .text{
    width: 50%;
    font-size: 3em;
    font-family: 'Poppins', sans-serif;
    -webkit-text-stroke: 1px #fff;
    color: transparent;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}

.header .bottom{
    height: 30vh;
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.header .bottom .left, .header .bottom .right{
    font-family: 'Bebas Neue', cursive;
    font-size: 2.5em;
    margin-top: 2em;
    letter-spacing: 0px;
    text-transform: uppercase;
    transform: rotate(270deg);
    /* width: 10%; */
} 

.header .bottom .left h1, .header .bottom .right h1{
    color: var(--gold);
}
.header .bottom .right{
    transform: rotate(90deg);
    position: relative;
    bottom: 40%;
}

.header .bottom .left:before, .header .bottom .right:before{
    content: 'Preservers';
    position: absolute;
    top: 20px;
    left: -15px;
    font-size: 2em;
    z-index: -1;
    -webkit-text-stroke: 1px #fff;
    color: transparent;
}

nav{
    position: sticky;
    top: 0;
    left: 0;
    z-index: 3;
}

nav .navbar{
    padding: 20px 20vw;
    background-color: white;
}

nav ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Poppins';
    font-size: 1.2em;
}

nav ul a{
    color: black;
    font-weight: bold;
    transition: 300ms ease;
}

.navbar ul li a:hover{
    color: var(--dark-gray);
}

/* -------------- ABOUT SECTION ---------------- */
.about{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 15vh 15vw;
}

.about .title{
    text-align: center;
    font-family: 'Teko', sans-serif;
    font-size: 5em;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.about .line{
    width: 100px;
    height: 5px;
    background-color: rgb(1 219 196);;
    margin-bottom: 3em;
}

.about .content{
    display: flex;
    font-family: 'Source Sans Pro', monospace;
    background: var(--dark-gray);
    border-radius: 2em;
    font-size: 18px;
}

.about .content .left, .about .content .right{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 2em 30px;
    width: 50%;
}

.about .content .left .text div{
    margin-bottom: 1em;
}

.about .social-links{
    margin-top: 2em;
}

.about .right img{
    max-height: 70vh;
    max-width: 100%;
}

.about .right .text{
    font-family: 'Bebas Neue';
    font-size: 3em;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0;
    position: relative;
    margin: 20px 0;
}

.about .right .text h1{
    color: white;
}
.about .right .text:before{
    content: 'endangered';
    position: absolute;
    top: 50px;
    left: 20vw;
    transform: translateX(-50%);
    color: var(--gold);
}

/* -------------- PROJECTS SECTION ---------------- */
.projects{
    height: 80vh;
    /* background-image: url('/static/images/forest.png'); */
    background-repeat: no-repeat;
    background-size: cover;
}

.projects .container{
    width: 80%;
    padding: 10% 5%;
    height: 100%;
    margin: auto;
    background: linear-gradient(#8e05c282, #3e065f85), url('../images/forest.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.projects .slides{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 80%;
}

.projects .slide{
    display: flex;
    width: 100%;
    height: 100%;
}

.projects .slide .text-slides{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1em;
    position: relative;
}

.projects .slide .text-slides .slide-text{
    font-family: 'Poppins';
    padding: 1em 0;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 1;
    transition: 0.4s ease;
}

.projects .slide .text-slides .slide-text.hidden, .image-slide.hidden img{
    opacity: 0;
    top: -100px;
    transition: all 0.2s ease;
}

.projects .slide-text .subtitle{
    font-family: 'Source Sans Pro', monospace;
    font-size: 1.2em;
    letter-spacing: 3px;
    display: inline-block;
}

.projects .slide-text .title{
    font-family: 'Poppins';
    font-size: 2em;
    font-weight: bold;
}

.projects .slide-text .content{
    margin: 1em 0;
}

.projects .slide .image-slides{
    position: relative;
    width: 50%;
}

.projects .slide .image-slides .image-slide{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.projects .image-slide img{
    height: 80%; 
}

.projects .slide-indicators{
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 2em;
}

.projects .slide-indicator{
    width: 25%;
    height: 100%;
    display: flex;
    align-items: center;
}

.projects .slide-indicator .name{
    font-size: 1.5em;
    font-family: 'Source Sans Pro', monospace;
}

.projects .slide-indicator button{
    background-color: transparent;
    outline: none;
    border: none;
    width: 30px;
    margin: 0 20px;
}

.projects .slide-indicator button i{
    font-size: 1.5em;
}

/* -------------- ENDANGERED ------------------- */
.animals{
    display: flex;
    flex-direction: column;
    padding: 10% 15%;
}

.animals .title{
    font-family: 'Teko', sans-serif;
    font-size: 5em;
    display: inline-block;
    margin: auto;
    /* border-bottom: 2px solid var(--green); */
}

.animals .line{
    width: 300px;
    height: 5px;
    background-color: rgb(1 219 196);
    margin:auto;
    margin-bottom: 7em;
}

.animals .layout{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.animals .layout .animal{
    height: 400px;
}

.animal{
    position: relative;
    transform-style: preserve-3d;
}

.face{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: ease 1s;
    transform: perspective(1000px) rotateY(0deg);
}

.face .img-container{
    width: 80%;
    height: 80%;
}
.face img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.face.back{
    background: var(--dark);
    transform: perspective(1000px) rotateY(180deg);
}

.animal:hover .face.back{
    transform: perspective(1000px) rotateY(360deg);
}

.animal:hover .face.front{
    transform: perspective(1000px) rotateY(180deg);
}

.animal h1{
    font-size: 4em;
    font-family: 'Poppins';
    text-align: center;
    width: 80%;
    color: var(--gold);
    transform: perspective(1000px) translateZ(4rem);
}
/* ----------------- Donate section --------------- */
.animals .layout .donate{
    grid-row: 3 / span 5;
    background: url('../images/donate_bg');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Poppins';
    padding: 2em 1em;
}

.donate .title{
    font-family: 'Teko';
    font-size: 5em;
    font-weight: bold;
    display: block;
    margin: 0;
}

.donate .amounts{
    padding: 1em;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.donate .amounts input{
    color: var(--dark);
}

.donate .buttons{
    margin: 1em 0;
}

.donate .donate-btn{
    background-color: var(--gold);
    color: white;
    font-family: 'Teko';
    font-size: 1.5em;
    padding: 5px 30px;
    outline: none;
    border: 0;
    border-radius: 10px;
    margin-right: 1em;
}

.donate .custom-amount-btn{
    background-color: white;
    color: var(--dark-gray);
}
/* -------------- BLOG SECTION ---------------- */
.blog{
    display: flex;
    font-family: 'Poppins';
    justify-content: center;
    padding: 10%;
    padding-top: 5%;
}

.blog .container-left{
    width: 70%;
    display: flex;
}

.blog .container-left .pop-articles{
    font-family: 'Poppins';
    padding: 5px;
}
.blog .pop-articles i{
    margin: 10px;
}

.blog .text-left h1{
    font-size: 5em;
    line-height: 80%;
    font-family: 'Teko', sans-serif;
    width: 150%;
    z-index: 5;
    position: relative;
    margin-bottom: 30px;
}

.blog .text-left{
    width: 60%;
    z-index: 2;
    padding: 3em 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.blog .deer img{
    width: 100%;
}
.blog .deer {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.blog .container-right{
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30%;
    padding: 1em;
}

.blog .container-right a{
    display: block;
    margin: 15px;
}

.blog .right-titles{
    border-bottom: 3px solid #2e2c2c;
    font-size: 1.2em;
    margin-bottom: 2em;
    padding-bottom: 1em;
}
.blog .container-right .read-more{
    
    font-size: 0.7em;
    width: 150px;
    text-align: center;

}

.blog .titles:hover, .blog h1:hover{
    color: var(--gold);
    transition: 300ms ease;
}

/* -------------- FOOTER SECTION ---------------- */
.footer{
    font-family: 'Source Sans Pro', monospace;
}
.inner-footer{
    margin: 0px;
    padding: 20px;
    background-color: var(--dark-gray);
}
.socials {
    display: flex;   
}
.socials ul{
    padding: 10px 10px;
    display: flex;
    margin: auto;
}

.socials ul li{
    margin: 10px;
}
.socials a{
    padding: 0 5px;
    font-size: 2em;
    width: 60px;
    height: 60px;
}
.socials i:hover{
    color: var(--gold);
    transition: 300ms ease;
}

.home-links{
    padding: 5px 0;
    display: flex;
    width: 100%;
    align-items: center;
    margin: auto;
    justify-content: center;
}
.home-links ul{
    display: flex;
}
.home-items{
    list-style-type: none;
}
.home-items a{
    text-decoration: none;
    padding: 20px;
    font-size: 20px;
    transition: all .25s; 
}
.home-items a:hover{
    color: var(--gold);
}
.newsletter{
    text-decoration: none;
    padding: 0px;
    font-size: 30px;
    text-align: center;
    margin: 1.5em 0;
}
.email-input{
    width: 450px;
    max-width: 100%;
    color: black;
    text-align: left;
    font-weight: 500;
    border-radius: 5px;
    border: 0px;
    padding: 10px 0px 10px 20px;
    font-size: 15px;
}
.email-input:focus, .email-input:hover{
    outline: 0px;
}
.subscribe-btn{
    border: 0px;
    width: 150px;
    max-width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: rgb(29, 29, 29);
    cursor: pointer;
    border-radius: 5px;
    outline: 0;
    transition: all .3s;
}
.subscribe-btn:hover{
    background: rgb(75, 74, 74);
}
.copyrights{
    padding: 10px;
    text-align: center;
    font-size: 16px;
    background-color: var(--dark);
}




/* ---------------- MEDIA QUERIES -------------- */
@media all and (max-width: 1500px) {
    .projects .image-slide img{
        height: 70%; 
    }
    .animals .line{margin-bottom: 0;}
    .blog .right-titles{
        margin-bottom: 1em;
        padding-bottom: 10px;
    }
    .blog .deer{width: 60%;}
}
@media all and (max-width: 1300px) {
    .header .mid .text{
      font-size: 2em;
    }
    .projects .image-slide img {
        width: 80%;
        height: auto;
    }
    .projects .slide-indicator .name {
        font-size: 1.2em;
    }
    .slide-text{
        font-size: 80%;
    }
    .read-more{
        font-size: 1em;
    }
    .about{padding: 15vh 5vw;}
    .donate .title{font-size: 4em;}
    .donate .donate-btn{font-size: 1.2em;}
    .blog .container-right a{margin: 5px;}
    .blog .text-left h1{font-size: 4em;}
    .blog .right-titles{font-size: 15px;}
}

@media all and (max-width: 1050px){
    .projects{height: 65vh;}
    .slide-text{
        font-size: 70%;
    }
    .projects .slide-indicator .name {
        font-size: 1em;
    }
    .about .content{flex-direction: column;}
    .about .content .left{
        order: 2;
        width: 100%;
        font-size: 90%;
    }
    .about .content .right{
        order: 1;
        width: 100%;
    }
    .about .right .text:before{
        left: 48vw;
    }
    .about .img-container{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .about .img-container img{
        width: 50%;
    }
    .animal h1 {
        font-size: 3em;
    }
    .animals .title{font-size: 4em;}
    .animals{    padding: 10% 10%;    }
    nav .navbar {
        padding: 20px 10vw;
    }
    .blog .text-left{font-size: 80%;}
    .blog .right-titles {
        font-size: 12px;
    }
}

@media all and (max-width: 900px){
    .donate .donate-btn{margin: 10px 0;}
    .animals .title{font-size: 3em;}
}

@media all and (max-width: 800px){
    .projects .slide .text-slides{
        width: 100%;
        height: 100%;
    }
    .projects .slide{flex-direction: column;}
    .projects {
        height: 85vh;
        padding: 5%;
    }
    .projects .slide .image-slides {
        width: 100%;
        height: 100%;
    }
    .projects .image-slide img {
        width: 65%;
    }
    .projects .container{
        width: 65%;
    }
    .projects .slide-text .content {
        text-align: center;
    }
    .projects .slide-text{align-items: center;}
    .projects .slides{height: 95%;}
    .projects .slide-indicator .name{
        display: none;
    }
    .projects .slide-indicators{
        height: 5%;
        width: 50%;
        margin: auto;
    }
    .animals .layout { grid-template-columns: 1fr; }
    .animals .layout .donate{
        grid-row-start: 7;
        border: 1px solid black;
    }
    .animals .title{font-size: 2.5em;}
    nav ul{font-size: 1em;}
    .header .logo img {
        height: 200px;
    }
    .about .right .text{font-size: 2em;}
    .about .right .text:before{
        top: 34px;
    }
    .about .title{
        font-size: 4em;
    }
    .blog{
        flex-direction: column;
    }
    .blog .container-left, .blog .container-right{width: 100%;}
    .blog .container-right ul{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    .blog .right-titles{
        border: none;
        width: 30%;
        text-align: center;
    }
    
    
}

@media all and (max-height: 800px) {
    .header .mid .text, .header .bottom .left, .header .bottom .right{
        font-size: 2em;
    }
    .projects{
        height: 100vh;
    }
}

@media all and (max-width: 700px) {
    .header .mid .text{
      font-size: 1.5em;
    }
    .header .bottom .left, .header .bottom .right{
        font-size: 2em;
    }
    .projects .image-slide img {
        width: 90%;
    }
    nav ul {
        font-size: 0.8em;
    }
    .blog{padding: 10% 2%;}
    .blog .container-right .read-more {
        width: 100px;
        margin: auto;
    } 
    .home-links ul{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    
}

@media all and (max-height: 700px) {
    .header .mid .text{
      font-size: 1.5em;
    }
    .projects .container{
        padding: 5%;
    }
    .animals{    padding: 10% 5%;    }
}

@media all and (max-width: 575px) {
    .header .social-links i{
        font-size: 1em;
    }
    .header .social-links{
        width: 100px;
    }
    .header .logo{
        font-size: 1.2em;
    }
    .header .top{padding: 0 50px;}
    .header .mid .text, .header .bottom .left, .header .bottom .right{
        font-size: 1.2em;
    }
    .btn{
        padding: 2px 20px;
        font-size: 15px;
        margin-top: 1em;
    }
    .projects .container {
        width: 80%;
    }
    .slide-text{
        font-size: 60%;
    }
    .about .right .text{font-size: 2.5em;}
    .about .img-container img{
        width: 90%;
    }
    .header .top { padding: 0 20px;}
    .blog .text-left h1 {
        font-size: 3em;
    }
    .home-links ul{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    .socials ul{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    }
}

